/* connecting another css file to this css files*/

@import url(resets.css);
/* RESETS & LAYOUT */
@import url(typography.css);
/* FONT TYPE STYLE AND SIZE */
@import url(main.css);
/* GALLERI CSS */
@import url(header.css);
/* HEADER */
@import url(footer.css);
/* FOOTER */
@import url(form.css);
/* KONTAKT FORM */
@import url(nav.css);
/* BURGER MENU */
@import url(table-priser.css);
/* TABLE PRISER */
@import url(mediaquery.css);
/* MOBIL VISNING */




/* Desktop styles (default) */

.wrapper {
    overflow: hidden;
    /* It helped burger menu to stay inside the window of wrapper */
}

.margin-padding {
    margin: 1rem auto;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(15, 15, 20, 0.03)
}

/* Hero Image with text */

.hero {

    /* height: clamp(30rem, 35vw, 60rem); */
    display: grid;


}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
    aspect-ratio: 16/9;
    grid-column: 1/1;
    grid-row: 1/1;
    z-index: 1;
}


.hero__txt {
    align-content: center;
    justify-items: center;
    grid-column: 1/1;
    grid-row: 1/1;
    z-index: 2;
}

.hero h2 {
    font-size: 4rem;
    letter-spacing: 0.25rem;
    padding-bottom: 3rem;
    padding-inline: 3px;
}

.hero__txt p {
    font-size: 1.5rem;
}

.button-pill-hero {
    display: flex;
    gap: 10px;

}

/* section # about artist  */

.about_artist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1.25rem;
}

.about_artist__figure {
    aspect-ratio: 721 / 555;
    overflow: hidden;
    aspect-ratio: unset;
}

.about_artist__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.about_artist_txt {
    padding: 2rem;
}

.about_artist_txt h2 {
    /* padding: 0 auto 0; */
    padding: 1.25rem;
}

.about_artist_txt h3 {
    padding: 1rem;
}

.about_artist_txt p {
    padding: 0.25rem;
    text-wrap: wrap;
}

.bold-text {
    font-style: italic;
}

/* section Contact artist  */
.contact_artist {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}